{% extends "base.html" %} {% block content %}

<h1>Aleph Placement Test Scheduler</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsa vero
  dolorem distinctio deserunt, quia nihil. Exercitationem aperiam accusamus cum,
  minus mollitia ab quisquam harum nisi facilis! Odio, ipsam, necessitatibus
  soluta vel aliquam voluptatibus cum ut dolore adipisci ad perspiciatis
  assumenda nisi porro debitis a consequatur? Veniam quasi at aperiam?
</p>

<a href="{{ url_for('payment')}}" class="btn btn-success">Start Payment</a>

{% endblock %}
